@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&family=Oswald:wght@400;600&display=swap');

:root {

  --font-display: 'Libre Franklin', sans-serif;
  --font-buttons: 'Oswald', sans-serif;
}

body {
  font-family: var(--font-display);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 3rem;
}

#calculator {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: .5rem;
  padding-bottom: .5rem;
}

#display {
  font-weight: 700;
  padding-top: .8rem;
  width: 90%;
  height: 56px;
  text-align: center;
  font-size: 2.25rem;
  border: 1px solid black;
  border-radius: .3rem;
}

#buttons {
  width: 90%;
  display: flex;
  margin-bottom: 1rem;
}

.btn {
  font-family: var(--font-buttons);
  font-size: 2.25rem;
}

#digits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.digit {
  cursor: pointer;
  flex: 0 0 30%;
}

#operations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.operation {
  cursor: pointer;
  flex: 0 0 45%;
}

.operation-wide {
  cursor: pointer;
  flex: 0 0 93%;
}